@import './nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.head {
    background-image: url('../img/1header/BG-Header.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 980px;

    &_body {
        max-width: 754px;
        margin: 0px auto;
        font-family: 'Lato';
        padding-top: 20px;

    }


    &__img {
        position: relative;
        text-align: center;
        height: 290px;
    }


    &__texts {
        color: #ffffff;
        line-height: 40px;
        height: 327px;
    }


    &__text1 {
        font-family: 'Lato', sans-serif;
        font-size: 34px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }


    &__text2 {
        font-weight: 900;
        letter-spacing: 5.43px;
        text-align: center;
    }
}

.button-block {
    &__body {
        text-align: center;
    }

    &_button {
        width: 182px;
        display: block;
        height: 47px;
        background: rgba(205, 214, 219, 0);
        margin: 0 auto;
        border: 2px solid #f1f1f1;
        ;

        &:hover {
            box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
        }
    }


    &__text {
        height: 13px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__button2 {
        background: rgba(205, 214, 219, 0);
        display: block;
        width: 10px;
        margin: 0 auto;
        margin-top: 200px;

        &:hover {
            box-shadow: 0 6px 40px rgba(128, 183, 179, 0.64);
        }
    }
}

.inforamtion {
    max-width: 754px;
    margin: 0px auto;
    font-family: 'Lato';
    font-weight: 500;
}

.navbar {
    text-align: center;
    height: 150px;
}

.navbar-columns {
    margin: 20px 35px 0 35px;
    display: inline-block;
    color: #3c3c3c;
    text-transform: uppercase;

    &__title1 {
        color: #ada074;
        font-weight: 600;

    }

    &__title2 {
        color: #3c3c3c;
    }

    &__title3 {
        color: #3c3c3c;
    }


    &__title4 {
        color: #3c3c3c;
    }
}







.about {
    &__header {
        text-align: center;
        line-height: 20px;
        margin: 0 0 60px 0;
    }


    &__title {
        margin: 0 0 30px 0;
    }


    &__text {
        height: 66px;
        color: #868585;
        font-size: 14px;
        font-weight: 300;
        line-height: 25.89px;
    }


    &__rows {
        display: flex;
        font-size: 0;
        margin: 0px -15px;
    }


    &__columns {
        padding: 0px 15px 50px 15px;
        flex: 0 0 33.333%;

    }
}

.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;

    &:after {
        content: '';
        position: absolute;
        width: 80px;
        bottom: 0;
        height: 1px;
        left: 50%;
        background-color: #000;
        margin: 0px 0px 0px -45px;
    }
}


.item-about {

    &__icon {
        margin: 0px auto 20px auto;
        width: 92px;
        height: 92px;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__title {
        text-align: center;
        color: #000000;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }


    &__text {
        text-align: center;
        color: #868585;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
    }
}

.portfolio {


    &__body {
        background-color: #f3f3f3;
        padding-top: 30px;
        text-align: center;
        font-family: 'Lato';
    }

    &__title {
        color: #000000;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5.43px;
        position: relative;
        padding-bottom: 30px;

        &::after {
            content: '';
            width: 80px;
            position: absolute;
            height: 1px;
            background-color: black;
            left: 50%;
            bottom: 0;
            margin: 0px 0px 0px -45px;

        }

    }

    &__navbar2 {
        padding-top: 40px;
    }

    &_button {
        width: 182px;
        height: 47px;
        border: 2px solid #5b5b5b;
        margin-top: 30px;
    }

    &__examples {
        padding-top: 100px;
        margin: 0 auto;
        width: 1103px;
        line-height: 30px;
        letter-spacing: 17px;
    }
}

.navbar-columns1 {
    margin: 20px 35px 0 35px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;

    &__item1 {
        color: #ada074;
        font-weight: 700;
    }

    &__item2 {
        color: #8e8e8e;
    }


    &__item3 {
        color: #8e8e8e;
    }

    &__item4 {
        color: #8e8e8e;
    }
}

.portfolio-examples {
    &__item {
        display: inline-block;
        width: 538px;
        height: 365px;
        background-color: #eaeaea;
    }
}



.portfolio-button {
    margin-top: 50px;
    height: 150px;

    &__button {
        display: inline-block;
        width: 182px;
        height: 47px;
        border: 1px solid black;
        padding-top: 15px;
    }
}

.portfolio-block {
    &__text {
        color: #000000;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.67px;
    }
}

.partners {

    &__body {
        padding-top: 100px;
        font-family: 'Lato';
        text-align: center;
        background-image: url(/img/1header/BG-Header1.png);
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 150px;
    }

    &__title {
        &::first-letter {
            text-transform: uppercase;
        }

        height: 28px;
        color: #ffffff;
        font-weight: 200;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 1.8px;
    }

    &__imgItem {
        margin: 0 50px;
        margin-top: 90px;
        display: inline-block;
    }
}

.contact {

    &__body {
        width: 718px;
        margin: 0 auto;
        font-family: "Lato";
    }

    &__title {
        text-align: center;
        color: #000000;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5.43px;
        position: relative;
        padding-bottom: 30px;
        margin-top: 150px;

        &::after {
            content: '';
            width: 80px;
            position: absolute;
            height: 1px;
            background-color: black;
            left: 50%;
            bottom: 0;
            margin: 0px 0px 0px -45px;

        }

    }

    &__columns {
        display: grid;
        grid-template-columns: 400px 459px;
        margin-top: 80px;
    }
}


.column-number1 {

    &__data {
        letter-spacing: 20px;
    }

    &__link {
        margin-top: 20px;
        color: black;
        float: right;
        margin-right: 45px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 100px;
    }
}

.number1-data {

    &__rows {
        display: inline-block;
        line-height: 20px;
    }

    &__data {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        letter-spacing: 1px;
        padding-bottom: 5px;
    }

    &__text {
        width: 160px;
        height: 25px;
        resize: none;
        border-top: 1px solid black;
        background-color: #f8f7f7;
    }

    &__message {
        margin-top: 30px;
        line-height: 20px;
    }

    &__text1 {
        width: 340px;
        height: 105px;
        resize: none;
        background-color: #f8f7f7;
        border-top: 1px solid black;
    }

}

.column-number2 {
    &__items {
        display: inline-block;
    }

    &__text {
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        height: 80px;
    }

    &_contactAvtor {
        margin-top: 10px;
        font-size: 12px;
    }

    &__avtor {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        height: 40px;
    }
}

.number2-items {
    &__items {
        display: flex;
        border: 1px solid black;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
    }
}

.number2-contactAvtor {

    &_email {
        font-weight: 100;
    }

    &_emailtext {
        font-weight: 700;
    }
}

.foot {
    &__body {
        font-family: 'Lato';
        padding-top: 40px;
        text-align: center;
        line-height: 50px;
        background-color: #3c3c3c;
    }

    &__img {
        height: 100x;
    }

    &__navbar {
        word-spacing: 30px;
    }
}

.foot-navbar {

    &_items {
        display: inline-block;
        color: #545454;

        &:first-letter {
            text-transform: uppercase;
        }
    }
}

.signature {
    color: #545454
}